<!-- <div class="card">
  <div class="card"> -->
      <!-- <h5 class="card-header text-white bg-primary mb-3">Balmukund Ki Deepa</h5> -->
      <div class="container-fluid">
          <ul class="nav nav-tabs" id="myTabs" role="tablist">
              <li class="nav-item" role="presentation">
                  <button class="nav-link" [class.active]="activeTab === 'wedding-day'" (click)="activeTab = 'wedding-day'" type="button">
                      Wedding Day
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" [class.active]="activeTab === 'engagement'" (click)="activeTab = 'engagement'" type="button">
                      Engagement
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" [class.active]="activeTab === 'haldi'" (click)="activeTab = 'haldi'" type="button">
                      Haldi
                  </button>
              </li>
          </ul>

          <div class="tab-content mt-3">
              <div *ngIf="activeTab === 'wedding-day'">
                  <app-wedding-day></app-wedding-day>
              </div>
              <div *ngIf="activeTab === 'engagement'">
                  <app-engagement></app-engagement>
              </div>
              <div *ngIf="activeTab === 'haldi'">
                  <app-haldi></app-haldi>
              </div>
          </div>
      </div>
  <!-- </div>
</div> -->
