<div class="container mt-4">
  
  <!-- Portrait Images Carousel -->
  <div *ngIf="loadedPortraitImages.length" id="portraitCarousel" class="carousel slide mb-4" data-bs-ride="false">
    
    <div class="carousel-inner rounded shadow-lg">
      <div *ngFor="let img of loadedPortraitImages; let i = index" class="carousel-item" [class.active]="i === 0">
        
        <img [src]="img" class="d-block w-100 portrait-img" alt="Wedding Image {{ i + 1 }}">
        
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
          <h5>{{ getFileName(img) }}</h5>
        </div>

      </div>
    </div>

    <!-- Manual Controls -->
    <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#portraitCarousel" data-bs-slide="prev" (click)="loadPreviousPortraitBatch()">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#portraitCarousel" data-bs-slide="next" (click)="loadNextPortraitBatch()">
      <span class="carousel-control-next-icon"></span>
    </button>

  </div>

  <!-- Landscape Images Carousel -->
  <div *ngIf="loadedLandscapeImages.length" id="landscapeCarousel" class="carousel slide" data-bs-ride="false">
    
    <div class="carousel-inner rounded shadow-lg">
      <div *ngFor="let img of loadedLandscapeImages; let i = index" class="carousel-item" [class.active]="i === 0">
        
        <img [src]="img" class="d-block w-100 landscape-img" alt="Wedding Image {{ i + 1 }}">
        
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
          <h5>{{ getFileName(img) }}</h5>
        </div>

      </div>
    </div>

    <!-- Manual Controls -->
    <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#landscapeCarousel" data-bs-slide="prev" (click)="loadPreviousLandscapeBatch()">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#landscapeCarousel" data-bs-slide="next" (click)="loadNextLandscapeBatch()">
      <span class="carousel-control-next-icon"></span>
    </button>

  </div>

</div>
